<h2>Keep up to date</h2>

<p>Follow us on Facebook to see what's happening with Mossley Heritage.</p>

 <a href="https://www.facebook.com/mossleyheritage">Visit our Facebook page</a>

 <h5>Sitemap</h5>

{% include navigation.html %}

<h5>Legal</h5>

<ul>
  <li><a href="">Privacy Policy</a></li>
  <li><a href="">Terms of Service</a></li>
</ul>

<h5>Mossley Heritage</h5>

<p>
  T: 01457 838 608<br>
  E: <a href="mailto:hello@mossleyheritage.org">hello@mossleyheritage.org</a><br>
  F: <a href="https://www.facebook.com/mossleyheritage">facebook/mossleyheritage</a><br><br>

  Longlands Mill, Queen Street, Mossley,<br>
  Ashton-under-Lyne OL5 5AH<br><br>
  &copy; 2019 Mossley Civic Society
</p>


<h5>Supported by</h5>

<ul>
  <li>National Lottery Heritage Fund
    {% include logos/HeritageFund.svg %}
  </li>
  <li>Emmaus
    {% include logos/EmmausLogo.svg %}
  </li>
</ul>

<a href="https://gfsc.studio">gfsc.studio</a> + <a href="http://designbysquid.co.uk">designbysquid.co.uk</a>
