<div class="filled">
  <section class="section footer__facebook">
    <div class="lozenge lozenge--padded">
      <h2>Keep up to date</h2>

      <p class="bigger">Follow us on Facebook to see what's happening with Mossley Heritage.</p>

       <a class="btn btn--3" href="https://www.facebook.com/mossleyheritage">Visit our Facebook page</a>
     </div>
  </section>
</div>

<section class="section footer__main">
  <div class="footer__sitemap">
    <h5>Sitemap</h5>

    <ul class="reset">
     {% for item in site.data.menu %}
       <li><a href="/{{ item.url }}">{{ item.name }}</a></li>
     {% endfor %}
    </ul>
  </div>

  <div class="footer__legal">
    <h5>Legal</h5>

    <ul class="reset">
      <li><a href="/privacy">Privacy Policy</a></li>
      <li><a href="/disclaimer">Trail Disclaimer</a></li>
    </ul>
  </div>

  <div class="footer__impressum">
    <h5>Mossley Heritage</h5>

    <p>
      <strong>T:</strong> 01457 838 608<br>
      <strong>E:</strong> <a href="mailto:hello@mossleyheritage.org">hello@mossleyheritage.org</a><br>
      <strong>F:</strong> <a href="https://www.facebook.com/mossleyheritage">facebook.com/mossleyheritage</a><br><br>

      Longlands Mill, Queen Street, Mossley,<br>
      Ashton-under-Lyne OL5 5AH<br><br>
      &copy; 2019 Mossley Civic Society
    </p>
  </div>

  <div class="footer__supporters">
    <h5>Supported by</h5>
    <ul class="reset supporters">
      <li>{% include logos/HeritageFund.svg %}</li>
      <li class="supporters__emmaus">{% include logos/EmmausLogo.svg %}</li>
    </ul>
  </div>

  <div class="footer__credit dark-colour smaller">
    Site by <a href="https://gfsc.studio" class="dark-colour">gfsc.studio</a> + <a href="http://designbysquid.co.uk" class="dark-colour">designbysquid.co.uk</a>
  </div>
</section>
