<div class="investigate">
  <div class="investigate__image investigate__image--4 investigate__image--railway">
    <img src="/images/visit/railway_tunnels.svg">
  </div>
  <div class="investigate__image investigate__image--4 investigate__image--mills">
    <img src="/images/visit/mills_pubs.svg">
  </div>
  <div class="investigate__image investigate__image--4 investigate__image--tram">
    <img src="/images/visit/tram_crash.svg">
  </div>
  <div class="investigate__image investigate__image--2 investigate__image--bobbins">
    <img src="/images/visit/MH_HeritageCentre_Image1@2x.jpg">
  </div>
  <div class="investigate__image investigate__image--3 investigate__image--lamp">
    <img src="/images/visit/MH_HeritageCentre_Image2@2x.jpg">
  </div>
  <div class="investigate__image investigate__image--2 investigate__image--irons">
    <img src="/images/visit/MH_HeritageCentre_Image3@2x.jpg">
  </div>
  <div class="investigate__image investigate__image--3 investigate__image--wheels">
    <img src="/images/visit/MH_HeritageCentre_Image4@2x.jpg">
  </div>
  <div class="investigate__image investigate__image--2 investigate__image--chalk">
    <img src="/images/visit/MH_HeritageCentre_Image5@2x.jpg">
  </div>
  <div class="investigate__image investigate__image--4 investigate__image--wembley">
    <img src="/images/visit/wembley.svg">
  </div>
  <div class="investigate__image investigate__image--4 investigate__image--local">
    <img src="/images/visit/local_folk.svg">
  </div>
  <div class="investigate__image investigate__image--4 investigate__image--wars">
    <img src="/images/visit/world_wars.svg">
  </div>
</div>
