<nav role="navigation" class="navigation" id="js--navigation__menu">
  <ul class="reset">
    {% for item in site.data.menu %}
      {% unless item.url contains 'civic-society' %}
        {% if item.url == null and page.url == '/' %}
          <li class="active"><a href="/{{ item.url }}">{{ item.name }}</a></li>
        {% elsif page.url contains item.url %}
          <li class="active"><a href="/{{ item.url }}">{{ item.name }}</a></li>
        {% else %}
          <li><a href="/{{ item.url }}">{{ item.name }}</a></li>
        {% endif %}
      {% endunless %}
    {% endfor %}
  </ul>
</nav>
