<div class="textured">
  <section class="section section--centred">
    <h2 id="select-a-trail" class="title udl--title">Select a trail</h2>
    <p class="alt-subheader">Each trail was researched by one of Mossley’s schools and takes you across seven places exploring our local history!</p>
    <ul class="trails reset">
    {% for trail in site.data.trails %}
      {% if trail.id != include.exclude %}
      <li>
        <h3><a href="/trails/{{ trail.id }}">{{ trail.title }}</a></h3>
        <img src="/images/animals/{{ trail.image }}">
        <p>{{ trail.description }}</p>
        <a class="btn btn--2" href="/trails/{{ trail.id }}">See the trail</a>
      </li>
      {% endif %}
    {% endfor %}
    </ul>
  </section>
</div>
