$clip: 7px

.btn a, a.btn
  display: inline-block
  text-decoration: none
  font-size: 1.25rem
  font-weight: 600
  letter-spacing: 0
  padding: 0.4em 0.75em
  margin: 0.75rem 0 0
  transition-duration: 0.3s
  clip-path: polygon(0% #{$clip}, #{$clip} 0%, calc(100% - #{$clip}) 0%, 100% #{$clip}, 100% calc(100% - #{$clip}), calc(100% - #{$clip}) 100%, #{$clip} 100%, 0 calc(100% - #{$clip}))
  &:hover
    color: $white

.btn--1 a, a.btn--1
  color: $black
  background: $home-light
  &:hover
    background: $black !important

.btn--2 a, a.btn--2
  background: transparent
  border-width: 2px
  border-style: solid
  &:hover
    background: $home-dark

.btn--3 a, a.btn--3
  background: $white
  &:hover
    background: $black !important
