.btn a, a.btn
  +size_20
  letter-spacing: 0
  display: inline-block
  text-decoration: none
  font-weight: 600
  padding: 0.3em 1em
  margin: 0.75rem 0 0
  transition-duration: 0.3s
  +bevel
  &:hover
    color: $white !important
    background: $black !important

.btn--space
  margin-right: 1.5rem

.btn--1 a, a.btn--1
  color: $black

.btn--2 a, a.btn--2
  color: $white

.btn--3 a, a.btn--3
  background: $white

.btn + .btn
  margin-left: 1rem
