.header
  h2
    display: none
  &__logo
    margin: 1.5rem 0 1.6rem 0
    width: 83px
    height: 64.87px
    // +for-tablet-portrait-up
    //   margin-left: $page-margin-portrait
    // +for-tablet-landscape-up
    //   margin-left: $page-margin-landscape
  &__home-link
    display: inline-block
  &__toggle
    float: right
    margin-top: 2.25rem !important
    cursor: pointer
    svg
      line
        stroke: $black
        stroke-width: 5px
      text
        +size_14
        font-family: $sans
        font-weight: 600
  +for-tablet-portrait-up
    &__logo
      width: 112px
      height: 87.54px
      margin-top: 2rem
    &__toggle
      margin-top: 3rem !important
  +for-tablet-landscape-up
    border-width: 0 0 8px 0
    border-style: solid
    position: relative
    &__logo
      width: 128px
      height: 100.04px
      margin-top: 2rem
      margin-bottom: 2.5rem
    &__toggle
      display: none
    &__menu
      position: absolute
      top: 0
      right: $page-margin-landscape
  +for-desktop-up
    &__logo
      width: 147.17px
      height: 115.03p x
      margin-top: 5rem
      margin-bottom: 6rem
    &__menu
      margin-top: 4.5rem
  @media (min-width: $page-max-width)
    &__menu
      // $page-max-width - ($page-margin-landscape * 2)
      width: 83.5rem
      left: 0
      right: 0
      margin-left: auto
      margin-right: auto
