body
  margin: 0
  *
    box-sizing: border-box

.main
  margin: 0 $page-gutter
  &__title
    margin-top: 1.5em
  p
    margin: 1.5em 0

.footer
  margin: 0 $page-gutter

@supports(display: grid)
  .layout
    +for-tablet-portrait-up
      display: grid
      grid-gap: 0 3rem
      grid-template-columns: 1fr 1fr
      &__image, &__text
        width: 100%
      &__image
        grid-area: image
        margin-top: 5rem
      &__text
        grid-area: text
      &__text-top
        grid-area: text-top
      &__text-bottom
        grid-area: text-bottom

  // Utility class to make layouts spill out right over the page edge
  .layout--image-overflow
    .layout__image
      +for-tablet-portrait-up
        overflow: visible
        width: 120%
      +for-tablet-landscape-up
        width: 100%

  // Main layout used for text and image blocks
  .layout--main
    +for-tablet-portrait-up
      grid-template-areas: "text-top image" "text-bottom image"
      &__image
        grid-row: span 2

  .layout--intro
    +for-tablet-portrait-up
      grid-template-areas: "text-top text-top" "text-bottom image"
      &__image
        grid-row: span 2
    +for-tablet-landscape-up
      grid-template-areas: "text-top image" "text-bottom image"
      &__image
        grid-row: span 1

  .layout--switch-left
    +for-tablet-landscape-up
      grid-template-areas: "image text-top" "image text-bottom"
      &__image
        grid-row: span 1
