*, *:before, *:after
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

body
  margin: 0
  letter-spacing: -0.01rem
  scroll-behavior: smooth

// For establishing absolute contexts
.relative
  position: relative

@supports(display: grid)
  .layout
    .btn
      margin-top: 1.5rem !important
    +for-tablet-portrait-up
      display: grid
      grid-gap: 0rem 3rem
      grid-template-columns: 1fr 1fr
      grid-template-rows: auto 1fr
      grid-auto-rows: 1fr
      &__image, &__text
        width: 100%
      &__image
        grid-area: image
      &__text
        grid-area: text
      &__text-top
        grid-area: text-top
        p.bigger
          margin-top: 0
      &__text-bottom
        grid-area: text-bottom
      &__title
        grid-area: title
    +for-desktop-up
      grid-gap: 0rem 5rem
      &__text-top
        *:first-child
          margin-top: 1.5rem

  // Utility class to make layouts spill out right over the page edge
  .layout--image-overflow
    .layout__image
      +for-tablet-portrait-up
        overflow: visible
        width: 150%
      +for-tablet-landscape-up
        width: 100%

  // Main layout used for text and image blocks
  .layout--main
    +for-tablet-portrait-up
      grid-template-areas: "title ." "text-top image" "text-bottom image"
      grid-template-columns: 6fr 5fr
    +for-tablet-landscape-up
      grid-template-areas: "title image" "text-top image" "text-bottom image"
      .layout__image
        margin-top: 2.5rem
    +for-desktop-up
      grid-template-columns: 5fr 6fr
      .layout__image
        margin-top: 8rem

  .layout--intro
    +for-tablet-portrait-up
      grid-template-areas: "title title" "text-top image"
      .layout__text-bottom
        border-width: 3px 0 0 0
        border-style: solid
      .layout__image
        grid-row: span 2
    +for-tablet-landscape-up
      grid-template-areas: "title image" "text-top image"
      .layout__image
        grid-row: span 2
        align-self: center

  .layout--switch-left
    +for-tablet-landscape-up
      grid-template-areas: "image text-top" "image text-bottom"
      grid-template-columns: 9fr 7fr
      .layout__image
        grid-row: span 2

  //
  // Index page special cases
  //

  .layout--index-uncover
    // Grid starts at portrait
    +for-tablet-portrait-up
      display: block
      img
        padding-left: 10%
        padding-right: 10%
    +for-tablet-landscape-up
      display: grid
      grid-template-areas: "text-top image" "text-bottom image"
      grid-template-columns: 7fr 9fr
      img
        padding: 0
      h2:after
        width: 90%
      .narrow
        width: 100%
      .layout__image
        grid-row: span 2
        width: calc(100% + 4rem)
        overflow: visible

  .layout--index-trails
    // Grid starts at portrait
    +for-tablet-portrait-up
      display: block
      img
        padding-left: 10%
        padding-right: 10%
        margin-top: -3rem
    +for-tablet-landscape-up
      display: grid
      img
        padding-left: 0
        padding-right: 0
        margin-top: 2rem
      .narrow
        width: 100%
      h2:after
        width: 100%
    +for-desktop-up
      p.bigger--on-portrait
        +size_20
        margin-top: 0

  .layout--get-involved
    +for-tablet-portrait-up
      .layout__text-bottom
        p:first-child
          margin-top: 0
      img
        margin-top: 2rem

  //
  // Trails page special cases
  .layout--image-overflow.layout--trails-intro
    .layout__image
      +for-tablet-landscape-up
        width: 120%
        margin-top: 3rem
        padding-bottom: 1rem
