.lozenge
  text-align: center
  border: 30px solid
  border-image-source: url('/images/shapes/lozenge.svg')
  border-image-slice: 30
  margin: 0.25rem 0
  padding: 2rem 0rem
  h2
    margin-top: 0
    margin-bottom: 2rem
    border-bottom-width: 0
    &::after
      padding-top: 2rem
      width: 50%

  h3
    &::after
      padding-top: 1rem
      width: 100%
  h2, h3
    &::after
      content: ''
      display: block
      margin: 0 auto
      border-width: 0 0 3px 0
      border-style: solid
      border-color: $white
  +for-desktop-up
    width: 83.33333%
    margin: 0 auto
