.lozenge
  text-align: center
  border: 2px solid $white !important
  box-shadow: 0 0 0 10px $home-light, 0 0 0 12px $white
  margin: 0.25rem 0
  padding: 2rem
  h2
    margin-top: 0
    margin-bottom: 0.5rem
    border-bottom-width: 0
    &::after
      content: ''
      display: block
      padding-top: 2.5rem
      width: 70%
      margin: 0 auto
      border-width: 0 0 3px 0
      border-style: solid
      border-color: $white
