.scheme
  .btn--1 a, a.btn--1
    background-color: $home-light
  a:hover
    color: $home-dark
  .dark-colour
    color: $home-dark
    fill: $home-dark
  *
    border-color: $home-light
  &--trail
    a:hover
      color: $trails-dark
    .dark-colour
      color: $trails-dark
      fill: $trails-dark
    *
      border-color: $trails-light
    .textured h2
      border-color: $trails-dark
    .btn--1 a, a.btn--1
      background: $trails-light
    .btn--2 a, a.btn--2
      &:hover
        color: $white
        background: $trails-dark
        border-color: $trails-dark
    .filled
      background-color: $trails-light
    .textured
      background-color: $trails-light
      background-image: url('/images/trails/MH_Trails_Texture_RGB_2500_orange.jpg')
  &--history
    a:hover
      color: $history-dark
    .dark-colour
      color: $history-dark
      fill: $history-dark
    *
      border-color: $history-light
    .btn--1 a, a.btn--1
      background: $history-light
    .btn--2 a, a.btn--2
      &:hover
        color: $white
        background: $history-dark
        border-color: $history-dark
    .filled
      background-color: $history-light
  &--visit
    a:hover
      color: $centre-dark
    .dark-colour
      color: $centre-dark
      fill: $centre-dark
    *
      border-color: $centre-light
    .btn--1 a, a.btn--1
      background: $centre-light
    .filled
      background-color: $centre-light

=scheme($animal, $colour)
  .scheme--#{$animal}
    a:hover
      color: $colour
    .dark-colour
      color: $colour
    .dark-colour-fill
      fill: $colour
    *
      border-color: $colour
    .btn--1 a, a.btn--1, .filled, .stop, .stop__content, .stop-page
      background-color: $colour
    +for-phone-only
      .stop__id
        background-color: $colour
    +for-tablet-portrait-up
      .stop--final
        background-color: $colour !important

+scheme(bat, $trail-bat)
+scheme(crow, $trail-crow)
+scheme(dog, $trail-dog)
+scheme(goose, $trail-goose)
+scheme(horse, $trail-horse)
