.scheme
  *
    border-color: $home-light
  .section--filled *
    border-color: $white
  .section__textured *
    border-color: $home-dark
  &--trail
    *
      border-color: $trails-dark
    .btn a
      background: $trails-dark
  &--history
    *
      border-color: $history-light
  &--visit
    *
      border-color: $centre-light
