.section
  background-size: cover
  overflow: hidden
  padding-top: 2rem
  padding-bottom: 2.5rem
  padding-left: $page-margin-mobile
  padding-right: $page-margin-mobile
  +for-tablet-portrait-up
    padding-left: $page-margin-portrait
    padding-right: $page-margin-portrait
  +for-tablet-landscape-up
    padding-left: $page-margin-landscape
    padding-right: $page-margin-landscape
  +for-desktop-up
    max-width: 93rem
    overflow: visible
    margin: 0 auto
  &--first
    padding-top: 0
    padding-bottom: 1rem
  &--centred
    text-align: center
  &--full-width
    padding-left: 0
    padding-right: 0


.textured
  background-size: cover
  background-position: center
  background-color: $home-light
  background-image: url('/images/home/MH_Trails_Texture_RGB_2500_blue.jpg')
  *
    border-color: $home-dark

.filled
  background-color: $home-light

.scheme--trail
  .filled
    background-color: $trails-light
  .textured
    background-color: $trails-light
    background-image: url('/images/trails/MH_Trails_Texture_RGB_2500_orange.jpg')

.scheme--history
  .filled
    background-color: $history-light

.scheme--visit .section
  .filled
    background-color: $centre-light
