.section
  clear: both
  background-size: cover
  padding-top: 2rem
  padding-bottom: 2.5rem
  padding-left: $page-margin-mobile
  padding-right: $page-margin-mobile
  overflow: hidden
  +for-tablet-portrait-up
    padding-left: $page-margin-portrait
    padding-right: $page-margin-portrait
  +for-tablet-landscape-up
    padding-left: $page-margin-landscape
    padding-right: $page-margin-landscape
  +for-desktop-up
    max-width: $page-max-width
    margin: 0 auto
  &--centred
    text-align: center
  &--full-width
    padding-left: 0
    padding-right: 0
  &--no-space
    padding-top: 0
    padding-bottom: 0
  &--no-bottom
    padding-bottom: 0
  // &--header
  //   border-width: 0 0 8px 0
  //   border-style: solid
  &--thick
    +for-tablet-portrait-up
      padding-top: 4rem
      padding-bottom: 5rem

.section--on-desktop
  +for-desktop-up
    padding-left: $page-margin-landscape
    padding-right: $page-margin-landscape
    max-width: $page-max-width
    margin: 0 auto

.textured
  background-size: cover
  background-position: center
  background-image: url('/images/home/MH_Trails_Texture_RGB_2500_blue.jpg')

.filled
  background-color: $home-light
  *
    border-color: $white

.filled--additional-trails
  +for-tablet-portrait-up
    background-image: url('/images/trails/MH_Trail_Additional_Left@2x.png'), url('/images/trails/MH_Trail_Additional_Right@2x.png')
    background-position: -8rem 15rem, 125% 10rem
    background-repeat: no-repeat, no-repeat
    background-size: 40%, 40%
  +for-tablet-landscape-up
    background-position: 0% 13rem, 100% 10rem
    background-size: 30%, 30%
    padding-bottom: 5rem
  +for-desktop-up
    background-position: 0rem 12rem, right 2rem top 1rem
    background-size: 35%, 30%
