.layout--image-left, .layout--image-right
  position: relative
  min-height: 300px
  +for-tablet-portrait-up
    img
      position: absolute
      top: 0
      width: 100%
      margin-bottom: 2rem

.layout--image-left
  +for-tablet-portrait-up
    margin-left: 50%
    padding-left: $page-gutter / 2
    img
      margin-left: -104%
      margin-left: calc(-100% -  #{$page-gutter / 2})
      padding-right: $page-gutter / 2

.layout--image-right
  +for-tablet-portrait-up
    margin-right: 50%
    margin-right: calc(50% + #{$page-gutter / 2})
    position: relative
    img
      margin-left: 107%
      margin-left: calc(100% + #{$page-gutter})

@supports (display: grid)
  +for-tablet-portrait-up
    .layout--image-left, .layout--image-right
      +simple_grid
      grid-auto-flow: dense
      margin: 0
      padding: 0
      .layout__image
        // TODO: Figure out why "grid-row: 1 / -1" isn't working
        // Arbritrarily large number provided instead
        grid-row: span 5
      img
        width: 100%
        margin: 2rem 0 0 0
        padding: 0
        display: block
        position: static

    .layout--image-left
      *
        grid-column: 2
      .layout__image
        grid-column: 1

    .layout--image-right
      *
        grid-column: 1
      .layout__image
        grid-column: 2

    .layout--enjoy-events
      grid-template-rows: 1fr auto auto 1fr
      h2
        grid-row: 2
      p
        grid-row: 3
