.timeline
  li
    padding: 0 $page-gutter
    &:nth-child(2n - 1)
      background: $history-light
      .event__year
        color: $white
    &:nth-child(2n)
      background: $white
      .event__year
        color: $history-light

.event
  &__year
    margin-bottom: 0.5em
    font-size: 1.875rem
    font-family: $serif
    +for-desktop-up
      font-size: 2.1875rem
  &__title
    font-size: 1.25rem
    margin-top: 0.5rem
    +for-desktop-up
      font-size: 2.1875rem
  &__description
    &:last-child
      margin-bottom: 0 !important
    +for-tablet-portrait-up
      margin-top: 0 !important
  &__image
    text-align: center
    img
      +bevel(1rem)
      max-height: 18rem

@supports (display: grid)
  +for-tablet-portrait-up
    .timeline li .section
      display: grid
      grid-template-columns: 5fr 1fr 4fr
      grid-template-rows: auto auto 1fr
      grid-template-areas: "year year year" "title . image" "description . image"
      align-items: start
    .event__year
      grid-area: year
    .event__title
      grid-area: title
    .event__image
      grid-area: image
      grid-row: span 2
    .event__description
      grid-area: description
  +for-desktop-up
    .timeline li .section
      grid-template-columns: 1fr 6fr 5fr
      grid-template-rows: auto 1fr
      grid-template-areas: "year title image" ". description image"
      grid-gap: 0 $page-gutter
    .event__year
      display: inline-block
