body
  +size_body
  font-family: $sans
  font-weight: 400
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

a
  color: $black
  transition-duration: 0.3s

strong
  font-weight: 600

hr
  border-style: solid

h1, h2, h3, .h1, .h2, .h3
  font-family: $serif
  font-weight: 500
  a
    text-decoration: none

// Page title
h1, .h1
  +size_headline
  +for-tablet-portrait-up
    padding-right: 10%
    +underline
    &:after
      width: 50%
  +for-tablet-landscape-up
    padding-right: 0
    &:after
      width: 83%
  +for-desktop-up
    &:after
      width: 80%

// Page subtitles
h2, .h2
  +size_headline

h3, .h3
  +size_subheader

// Footer links
h5, .h5
  +size_16
  font-weight: 600
  padding-bottom: 0.75rem
  margin-bottom: 0.75rem
  margin-top: 0.25rem
  border-width: 0 0 2px 0
  border-style: solid

// Narrower styles for when it's not full width
h2.narrow
  +for-tablet-portrait-up
    width: 75%
    &:after
      // paragraph_width * (1 / h2_width)
      width: 66.6667%

p.narrow
  +for-tablet-portrait-up
    width: 50%

.narrow--centered
  margin-left: auto
  margin-right: auto
  &:after
    margin-left: auto
    margin-right: auto

// Larger intro paragraphs
p.bigger
  +size_large_body

p.bigger--on-portrait
  +for-tablet-portrait-up
    +size_18
  +for-desktop-up
    +size_24

// Smaller classes
.smaller
  +size_small_body

// Things that need a lil space
h3.spacer
  padding-top: 2em

p.spacer
  margin-bottom: 5rem !important

.no-underline-phone
  +for-phone-only
    padding: 0
    margin-bottom: 2rem
    margin-top: 1rem
    &:after
      border-width: 0
      margin: 0
      padding: 0
