=size_headline
  +size_30
  +for-tablet-portrait-up
    +size_35
  +for-tablet-landscape-up
    +size_30
  +for-desktop-up
    +size_45

=size_title
  +size_30
  +for-tablet-portrait-up
    +size_35
  +for-tablet-landscape-up
    +size_30
  +for-desktop-up
    +size_35

=size_subheader
  +size_16
  letter-spacing: -0.03rem
  +for-tablet-portrait-up
    +size_18
  +for-desktop-up
    +size_30

=size_navigation
  +size_30
  +for-tablet-portrait-up
    +size_18
  +for-desktop-up
    +size_20

=size_alt_subheader
  +size_18
  +for-tablet-portrait-up
    +size_20
  +for-tablet-landscape-up
    +size_24
  +for-desktop-up
    +size_32

=size_large_body
  +size_18
  +for-tablet-landscape-up
    +size_20
  +for-desktop-up
    +size_24

=size_body
  +size_16
  +for-tablet-landscape-up
    +size_18
  +for-desktop-up
    +size_20

=size_small_body
  +size_14
  +for-tablet-portrait-up
    +size_16

=size_button
  +size_20

body
  +size_body
  font-family: $sans
  font-weight: 400
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

a
  color: $black
  transition-duration: 0.3s

strong
  font-weight: 600

hr
  border-style: solid
  border-width: 3px 0 0 0

h1, h2, h3, .h1, .h2, .h3
  font-family: $serif
  font-weight: 500
  a
    text-decoration: none

// Page title
h1, .h1
  +size_headline
  margin-bottom: 1em
  +for-tablet-portrait-up
    +underline
    padding-right: 10%
    margin-bottom: 1rem
    &:after
      margin-top: 2rem
      width: 50%
  +for-tablet-landscape-up
    padding-right: 0
    &:after
      width: 83%
  +for-desktop-up
    margin-bottom: 2rem
    &:after
      margin-top: 3rem
      width: 80%

// Page subtitles
h2, .h2
  +size_headline
  +underline
  &:after
    margin-top: 1.25rem
  +for-tablet-portrait-up
    margin-bottom: 2rem
    &:after
      margin-top: 2rem

  &.udl--title
    +underline--centre
    +for-tablet-portrait-up
      &:after
        width: 60%
    +for-tablet-landscape-up
      &:after
        width: 50%
    +for-desktop-up
      &:after
        width: 33%

.title
  +size_title

.alt-subheader
  +size_alt_subheader

.no-udl
  &:after
    display: none

.subheader--narrow
  +for-tablet-portrait-up
    width: 60%
    margin-left: auto
    margin-right: auto
  +for-tablet-landscape-up
    width: 85%
  +for-desktop-up
    width: 70%

h3, .h3
  +size_subheader

// Footer links
h5, .h5
  +size_16
  font-weight: 600
  padding-bottom: 0.75rem
  margin-bottom: 0.75rem
  margin-top: 0.25rem
  border-width: 0 0 2px 0
  border-style: solid

// Narrower styles for when it's not full width
h2.narrow
  +for-tablet-portrait-up
    width: 75%
    &:after
      // paragraph_width * (1 / h2_width)
      width: 66.6667%

p.narrow
  +for-tablet-portrait-up
    width: 50%

.narrow--centered
  margin-left: auto
  margin-right: auto
  &:after
    margin-left: auto
    margin-right: auto

// Larger intro paragraphs
p.bigger
  +size_large_body

p.bigger--on-portrait
  +for-tablet-portrait-up
    +size_18
  +for-desktop-up
    +size_24

// Smaller classes
.smaller
  +size_small_body

.small-spacer
  margin-top: 2.75rem
  margin-bottom: 2.75rem

// Things that need a lil space
h3.spacer
  padding-top: 2em

p.spacer
  margin-bottom: 5rem !important

.no-underline-phone
  +for-phone-only
    padding: 0
    margin-bottom: 2rem
    margin-top: 1rem
    &:after
      border-width: 0
      margin: 0
      padding: 0
