.timeline
  li
    padding: 0 $page-gutter
    &:nth-child(2n - 1)
      background: $history-light
      .event__description
        border-color: $white
      .event__year
        color: $white
    &:nth-child(2n)
      background: $white
      .event__description
        border-color: $history-light
      .event__year
        color: $history-light
    +for-tablet-landscape-up
      padding-top: 1rem
      padding-bottom: 1em
    +for-desktop-up
      padding-top: 2rem

.event
  &__year
    margin-bottom: 0.5em
    font-family: $serif
    +size_30
    +for-desktop-up
      +size_35
  &__title
    margin-top: 0.5rem
    +size_20
    +for-tablet-landscape-up
      +size_30
    +for-desktop-up
      +size_45
  &__description
    &:last-child
      margin-bottom: 0 !important
    +for-tablet-portrait-up
      border-width: 3px 0 0 0
      border-style: solid
      padding-top: 1.5em
    +for-tablet-landscape-up
      width: 75%
  &__image
    text-align: center
    img
      +bevel(1rem)
      max-height: 18rem
    +for-tablet-portrait-only
      margin-left: 3rem
    +for-tablet-portrait-up
      margin-left: 1rem

@supports (display: grid)
  +for-tablet-portrait-up
    .timeline li .section
      display: grid
      grid-template-columns: 5fr 4fr
      grid-template-rows: auto auto 1fr
      grid-template-areas: "year year" "title image" "description image"
      align-items: start
    .event__year
      grid-area: year
    .event__title
      grid-area: title
    .event__image
      grid-area: image
      grid-row: span 2
    .event__description
      grid-area: description
  +for-desktop-up
    .timeline li .section
      grid-template-columns: 1fr 6fr 5fr
      grid-template-rows: auto 1fr
      grid-template-areas: "year title image" ". description image"
      grid-gap: 0 3rem
    .event__year
      display: inline-block
