.section--trail-header
  padding-top: 1.5rem
  padding-bottom: 1.5rem
  +for-tablet-portrait-up
    padding-top: 3rem
    padding-bottom: 3rem
    img
      width: 90%
      margin: 0 auto
      display: block

.trail-logos
  img
    display: inline-block
    width: 45%
  +for-tablet-portrait-up
    width: 70%
    margin: 0 auto

.stops
  // display: grid
  // grid-template-columns: auto 1fr 250px
  // grid-gap: 2rem
  // margin-bottom: 2rem
  // h2
  //   margin-top: 0
  position: relative
  &:before
    content: ''
    border-width: 0 5px
    border-style: solid
    border-color: inherit
    height: 100%
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    width: 0
    margin-left: auto
    margin-right: auto

.stop
  padding: 2rem $page-gutter
  margin-top: 4rem
  margin-bottom: 2rem
  position: relative
  +bevel2($clip: 0.75rem)
  &__id
    font-family: $serif
    font-size: 1.375rem
    +for-phone-only
      line-height: 2
      border: 3px solid $white
      display: inline-block
      border-radius: 50%
      width: 3.5rem
      height: 3.5rem
      position: absolute
      top: -1.5rem
      left: 0
      right: 0
      margin-left: auto
      margin-right: auto
    +for-tablet-portrait-up
      &::before
        content: 'Stop '
  &__directions
    +size_14
    margin-top: 0.75rem
  &__title
    +size_18
    margin-bottom: 0
    &:after
      display: none
  &__year
    +size_18
    color: $white
    font-family: $serif
  &__map
    margin: 1.5rem 0
    height: 200px
    width: 100%
    +bevel(1rem)
    .mapboxgl-canvas
      left: 0
    .mapboxgl-ctrl
      padding-left: 0.25rem
    // .mapboxgl-ctrl-logo
    //   display: none !important
    &--final
      height: 300px
      margin-bottom: 0
  &__marker
    background-color: red
    height: 1rem
    width: 1rem
  &__teaser
    padding-bottom: 2rem
  &__link
    background: $white

  +for-tablet-portrait-up
    display: grid
    grid-template-columns: 4fr 6fr
    grid-gap: 0 $page-gutter
    grid-template-areas: "id title" "directions year" "map teaser"
    text-align: left
    position: relative
    &:before
      content: ''
      position: absolute
      left: 0
      right: 0
      top: 0
      bottom: 0
      background: linear-gradient(to right, $grey 40%, transparent 40%)
    &__id
      grid-area: id
    &__title
      grid-area: title
    &__directions
      grid-area: directions
    &__year
      grid-area: year
    &__map
      grid-area: map
    &__teaser
      grid-area: teaser
