.visit--visiting-the-centre
  .narrow
    +for-desktop-up
      width: 40%
  h2
    font-size: 2.1875rem

.visit--map
  +for-tablet-portrait-up
    width: 90%
  +for-tablet-landscape-up
    position: absolute
    right: 0
    top: 1rem
    width: 45%
  +for-desktop-up
    width: 55%

.visit--uncover-2
  +for-tablet-portrait-up
    img
      display: inline-block
      width: 40%
      margin-right: $page-gutter
    div
      display: inline-block
      width: 53%
      width: calc(59% - #{$page-gutter})
      vertical-align: top

@supports (display: grid)
  .visit--visiting-the-centre
    +for-tablet-landscape-up
      +simple_grid
      > *
        grid-column: 1
      .visit--map
        margin-top: 3rem
        grid-column: 2
        grid-row: 1 / -1
        width: 100%
      .narrow
        width: 100%
    +for-desktop-up
      grid-template-columns: 4fr 7fr
