<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Inknut+Antiqua:500|Work+Sans:400,600&display=swap" rel="stylesheet">
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css' rel='stylesheet' />
    <link href="/css/styles.css" rel="stylesheet">
    {% if page.title %}
      <title>{{ page.title }} | Mossley Heritage</title>
    {% else %}
      <title>Mossley Heritage</title>
    {% endif %}
  </head>
  <body class="scheme scheme--{{ page.scheme }}">
    <header class="header">
      <div class="header__branding">
        <div class="section section--no-space">
          <h2>Mossley Heritage</h2>
          <a href="/" class="header__home-link">
            {% include logos/MH_logo.svg %}
          </a>
          <button class="reset header__toggle" id="js--navigation__toggle">
            <svg xmlns="http://www.w3.org/2000/svg" width="44" height="59" viewBox="0 0 44 59">
              <title>Toggle menu</title>
              <g transform="translate(-166 -839)">
                <line x2="44" transform="translate(166 841.5)"/>
                <line x2="44" transform="translate(166 855.5)"/>
                <line x2="44" transform="translate(166 869.5)"/>
                <text transform="translate(166 882)" class="dark-colour"><tspan x="1.371" y="13">MENU</tspan></text>
              </g>
            </svg>
          </button>
        </div>
      </div>
      <div class="header__menu">
        {% include navigation.html %}
      </div>
      <script>
        var toggle = document.getElementById('js--navigation__toggle')
        var menu = document.getElementById('js--navigation__menu')

        function classToggle() {
          menu.classList.toggle('navigation--hide')
        }

        toggle.addEventListener('click', classToggle)
        classToggle()
      </script>
    </header>
    <main class="main">
      {% if page.layout == 'trail' or page.layout == 'stop' %}
        <div class="filled">
          <section class="section section--trail-header">
            <img src="/images/trails/MH_Trail_Banner_Transp@2x.png" alt="Mossley Heritage Trails">
          </div>
        </div>
      {% endif %}
      {{ content }}
    </main>
    <footer class="footer">
      {% include footer.html %}
    </footer>
    <script src="/js/main.js"></script>
  </body>
</html>
