---
layout: default
---
<h1 class="stop-page__title">{{ page.trail_name }} &mdash; Stop {{ page.slug }}</h1>

<section class="section">
  <div class="stop-page">
    <h2>{{ page.title }}</h2>
    <div class="stop-page__year">{{ page.year }}</div>
    {{ content }}
    <hr>
    <nav aria-label="Blog navigation">
      {% if page.previous %}
        <a href="{{ page.previous.url }}" class="btn btn--3">Last stop</a>
      {% endif %}
      <a href="../" class="btn btn--3">Trail home</a></li>
      {% if page.next %}
        <a href="{{ page.next.url }}" class="btn btn--3">Next stop</a>
      {% endif %}
    </nav>
  </div>
</section>
