---
layout: default
---
{% assign trail = site.data.trails[page.trail] %}
{% assign stops = site[trail.stops] %}

<section class="section section--centred">
<h1 class="underline">{{ trail.title }}</h1>

<div class="trail-logos">
  <img src="/images/animals/{{ trail.image }}" alt="An image of {{ trail.animal }}">
  <img src="/images/schools/{{ trail.school_logo }}" alt="{{ trail.school }}'s logo">
</div>

{{ content }}

<ol class="reset stops">
  {% for stop in stops %}
    <li class="stop">
      <div class="stop__location">
        <div class="stop__id">{{ forloop.index }}</div>
        <div class="stop__directions">{{ stop.directions }}</div>
        <div class="stop__map stop__map--{{ forloop.index }}" id="map__{{ forloop.index }}" data-lat="{{ stop.lat }}" data-lon="{{ stop.lon }}"></div>
      </div>
      <div class="stop__content">
        <h2 class="stop__title">{{ stop.title }}</h2>
        <div class="stop__year">{{ stop.year }}</div>
        <div class="stop__teaser">
          {{ stop.teaser }}
          <p><a class="stop__link btn" href="./stops/{{ forloop.index }}">Read the rest</a></p>
        </div>
      </div>

    </li>
    {% assign total_stops = forloop.length %}
  {% endfor %}
  <li class="stop stop--final">
    <h2 class="stop__title">Now head to Mossley Heritage Centre & Emmaus!</h2>
    <div class="stop__map stop__map--final" id="map__{{ total_stops | plus: 1 }}" data-lat="53.51519" data-lon="-2.03996"></div>
  </li>
</ol>
</section>

<div class="scheme--trail">
  {% include trails.html exclude=trail.id %}
</div>

<script>
  mapboxgl.accessToken = "{{ site.mapbox_token }}";
  var total_stops = {{ total_stops }}

  for(var m = 1; m < total_stops + 2; m++) {
    // Get the lat and lon from data attributes
    let ele = document.querySelector('#map__' + m)
    let lonLat = [ele.dataset.lon, ele.dataset.lat]

    // Create the map
    let map = new mapboxgl.Map({
      container: "map__" + m,
      style: "{{ site.mapbox_style }}",
      zoom: 16,
      center: lonLat,
      attributionControl: false
    });

    // Don't let it zoom or it gets really annoying
    map.scrollZoom.disable()

    // Create the marker after it's loaded
    map.on("load", function() {
      let el = document.createElement('div')
      el.className = 'map__marker'
      new mapboxgl.Marker(el)
                  .setLngLat(lonLat)
                  .addTo(map)
    })
  }
</script>
